## Jagdeep Singh - Strings

In [1]:
import numpy as np
import pandas as pd

### Read in the datafile `MainBelt.csv`

In [2]:
cols = ["Name", "Magnitude", "Geo Albedo"]
mba_table = pd.read_csv('MainBelt.csv', skiprows = 9, 
                            names = cols, header = None)

### Write a function to compute the Diameters of the MBAs
 * The largest asteroid should be D ~ 1000 km

In [3]:
# function to get the diameter of an object using its albedo and magnitude
def find_diameter(albedo, magnitude):
    diameter = (1329 / np.sqrt(albedo)) * (10 ** (-0.2 * magnitude))
    return diameter

mba_table['Diameter'] = find_diameter(mba_table['Geo Albedo'], 
                                      mba_table['Magnitude'])

### Write a function to compute the Masses of the MBAs. Assume $\rho$ = 3,000 kg/m$^3$
* The most massive asteroid should be M ~ 1e21 kg

In [4]:
def find_mass(diameter):
    mass = 3000 * (1 / 6) * np.pi * ((diameter * 1000) ** 3)
    return mass

mba_table['Mass'] = find_mass(mba_table['Diameter'])

### List the names of the 5 most massive MBAs

In [41]:
most_mass = mba_table.sort_values(['Mass'], ascending=False)[:5]
most_mass = most_mass.reset_index(drop=True)

print("The 5 largest asteroids are (starting with the largest):")
for inx,val in enumerate(most_mass['Name']):
    
    n = inx + 1
    name = val.strip()
    mass = most_mass.at[inx, 'Mass']

    print("At number {0:d} is {1:s} with a mass of {2:.2e} kg"
          .format(n,name,mass))

The 5 largest asteroids are (starting with the largest):
At number 1 is 1 Ceres with a mass of 1.35e+21 kg
At number 2 is 2 Pallas with a mass of 1.94e+20 kg
At number 3 is 4 Vesta with a mass of 1.61e+20 kg
At number 4 is 10 Hygiea with a mass of 1.06e+20 kg
At number 5 is 511 Davida (1903 LU) with a mass of 5.45e+19 kg

### List the names of the 5 least massive MBAs

In [40]:
least_mass = mba_table.sort_values(['Mass'])[:5]
least_mass = least_mass.reset_index(drop=True)

print("The 5 smallest asteroids are (starting with the smallest):")
for inx,val in enumerate(least_mass['Name']):
    
    n = inx + 1
    name = val.strip()
    mass = least_mass.at[inx, 'Mass']
    
    print("At number {0:d} is {1:s} with a mass of {2:.2e} kg"
          .format(n,name,mass))

The 5 smallest asteroids are (starting with the smallest):
At number 1 is 26604 (2000 FO25) with a mass of 2.70e+14 kg
At number 2 is 4335 Verona (1983 VC7) with a mass of 3.25e+14 kg
At number 3 is 3338 Richter (1973 UX5) with a mass of 3.52e+14 kg
At number 4 is 4121 Carlin (1986 JH) with a mass of 3.78e+14 kg
At number 5 is 6295 Schmoll (1988 CF3) with a mass of 3.95e+14 kg

### Determine the total mass of all of the MBAs

In [16]:
total_mass = mba_table['Mass'].sum()
total_mass = round(total_mass, 2)
total_mass

3.146177625451557e+21

### Determine the fraction of the total mass contained in the 5 largest MBAs

In [8]:
top_five_mass = mba_table.sort_values(['Mass'])[-5:]['Mass'].sum() 
top_five_percent = (top_five_mass / total_mass) * 100

### How does the total mass of the MBAs compare to the mass of the Moon ($7.35\ \times\ 10^{22}$ kg)?

In [9]:
of_moon = (total_mass / (7.35 * (10 ** 22))) * 100
n_times = (100 / of_moon)

### How many MBAs does it take to get 90% of the total mass of the MBAs (start from the most massive)

In [10]:
x = mba_table.sort_values(['Mass'], 
            ascending=False)['Mass'].cumsum() / total_mass
ninty_percent = sum(float(num) <= 0.90 for num in x)

In [39]:
### Summary

print("""
The total mass of the main belt of the asteroid belt is {0:.3g} kg, of
which {1:.4g}% of the total mass is contained in the five most massive 
asteroids. In fact, the {2:d} largest asteroids acount for 90% of the 
total mass of the main belt. The Moon is {3:.4g} times more massive than 
the total mass of the main belt asteroids.
""".format(total_mass, top_five_percent, ninty_percent, n_times))

The total mass of the main belt of the asteroid belt is 3.15e+21 kg, of
which 59.4% of the total mass is contained in the five most massive
asteroids. In fact, the 149 largest asteroids acount for 90% of the
total mass of the main belt. The Moon is 23.36 times more massive than
the total mass of the main belt asteroids.

### Due Tue Oct 19 - 5pm
- `Make sure to change the filename to your name!`
- `Make sure to change the Title to your name!`
- `File -> Download as -> HTML (.html)`
- `upload your .html and .ipynb file to the class Canvas page`

***

## Absolute Magnitude, Size and Mass

The absolute magnitude **H** of a solar system object is the magnitude that it would have if it was 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. Remember, astronomical magnitudes are "backwards".  The magnitude of a bright object is *less* than the magnitude of a dimmer object.

The phase angle **$\theta$** in astronomical observations is the angle between the light incident onto an observed object and the light reflected from the object. In the context of astronomical observations, this is usually the angle $\angle$ Sun-object-observer.

![Phase Angle](images/Phase.jpg)

It is actually impossible for an object to be 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. The Sun and the Earth would occupy the same point.  However, this is the definition of **H**.  Please note, that the definition of absolute magnitude for solar system objects is *very* different from the definition of absolute magnitude used for stars.

The Absolute magnitude of an object is related to the physical size of the object via the equation:

$$\large D\ (\textrm{in km}) = \frac{1329}{\sqrt{A}}\  10^{-0.2H}$$

Where **D** is the diameter of the object in kilometers and **A** is the geometric albedo of the object. 

The geometric albedo **A** of an astronomical body is the ratio of its actual brightness at zero phase angle (i.e., as seen from the light source) to that of an idealized flat, fully reflecting, diffusively scattering disk with the same cross-section.

Perfect reflectors of light have A = 1 and perfect absorbers have **A** = 0. Typical asteroids have a wide range of values: 0.02 $<$ A $<$ 0.8.

Once we have the diameter of the object, we can determine the mass if we know the density ($\rho$).

$ \large \mathrm{Mass} = \rho \cdot \mathrm{Volume} = \rho \cdot \frac{4}{3} \pi r^3 \ = \ \rho \cdot \frac{1}{6} \pi D^3 $

This assumes that the object is spherical (this is **not** a very good assumption for asteroids).